<a href="https://colab.research.google.com/github/yseoyoung/python/blob/main/%ED%86%B5%EA%B3%84%EB%B6%84%EC%84%9D%EC%8B%9C%EA%B0%81%ED%99%94_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#구조적 데이터 표시와 처리에 강한 pandas

In [ ]:
import pandas as pd

In [ ]:
s = pd.Series([1,2,3,4,5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
print(s.index)

RangeIndex(start=0, stop=5, step=1)

In [ ]:
print(s.values)

[1 2 3 4 5]

In [ ]:
s = pd.Series(["홍길동","강감찬","을지문덕"])
print(s)

0     홍길동
1     강감찬
2    을지문덕
dtype: object

In [ ]:
subjects=["국어","영어","수학"]
s = pd.Series([90,85,39],index=subjects)
print(s)

국어    90
영어    85
수학    39
dtype: int64

#결측치(Missing Value)를 무엇으로 표현할 것인가?
numpy의 np.nan  
None  
0  
기타 값

In [ ]:
import numpy as np #판다스를 사용하면서 넘파이와 함께 사용하는 경우 많음

# 국어, 영어, 수학 점수 중에서 현재 국어점수가 없을 경우 -> 다양하게 표현 가능
s1 = pd.Series([np.nan,10,30]) #제일 많이 사용
s2 = pd.Series([None,10,30])
s3 = pd.Series([0,10,30])
s4 = pd.Series([-1,10,30])
print(s1)
print(s2)
print(s3)
print(s4)

0     NaN
1    10.0
2    30.0
dtype: float64
0     NaN
1    10.0
2    30.0
dtype: float64
0     0
1    10
2    30
dtype: int64
0    -1
1    10
2    30
dtype: int64

In [ ]:
# 존재하지 않는 것에 대한 비교 (np.nan 과 None은 서로 비교할 수도 없다) - 철학적인 이야기
# 없다는 상태를 같게 볼 것인가, 다르게 볼 것인가

print(np.nan == np.nan) # F 값이 다르다 / == 는 데이터 비교
print(None == None) # T 값 같다
print(np.nan is np.nan) # T 객체는 동일하다 / is는 객체 자체를 비교
print(None is None) # T 객체 같다

print("==========")
a = [1,2,3]
b = [1,2,3]
c = a
print(a==b) #값을 비교
print(a is b) #참조를 비교 (객체 비교)
print(a==c)
print(a is c)

False
True
True
True
==========
True
False
True
True

#날짜 시퀀스

In [ ]:
pd.date_range(start='2019-01-01',end='2022-02-28')

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10',
               ...
               '2022-02-19', '2022-02-20', '2022-02-21', '2022-02-22',
               '2022-02-23', '2022-02-24', '2022-02-25', '2022-02-26',
               '2022-02-27', '2022-02-28'],
              dtype='datetime64[ns]', length=1155, freq='D')

In [ ]:
pd.date_range(start='2019/01/01',end='2022/02/28') #날짜를 입력하는 형태는 다양하게 입력할 수 있다

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10',
               ...
               '2022-02-19', '2022-02-20', '2022-02-21', '2022-02-22',
               '2022-02-23', '2022-02-24', '2022-02-25', '2022-02-26',
               '2022-02-27', '2022-02-28'],
              dtype='datetime64[ns]', length=1155, freq='D')

In [ ]:
pd.date_range(start='2019/01/01',end='2022/02/28',freq='2D') #주기 : 2일로 설정

DatetimeIndex(['2019-01-01', '2019-01-03', '2019-01-05', '2019-01-07',
               '2019-01-09', '2019-01-11', '2019-01-13', '2019-01-15',
               '2019-01-17', '2019-01-19',
               ...
               '2022-02-10', '2022-02-12', '2022-02-14', '2022-02-16',
               '2022-02-18', '2022-02-20', '2022-02-22', '2022-02-24',
               '2022-02-26', '2022-02-28'],
              dtype='datetime64[ns]', length=578, freq='2D')

In [ ]:
pd.date_range(start='2019/01/01',end='2022/02/28',freq='2B') #주기 : 영업일 기준 2일로 설정

DatetimeIndex(['2019-01-01', '2019-01-03', '2019-01-07', '2019-01-09',
               '2019-01-11', '2019-01-15', '2019-01-17', '2019-01-21',
               '2019-01-23', '2019-01-25',
               ...
               '2022-02-02', '2022-02-04', '2022-02-08', '2022-02-10',
               '2022-02-14', '2022-02-16', '2022-02-18', '2022-02-22',
               '2022-02-24', '2022-02-28'],
              dtype='datetime64[ns]', length=413, freq='2B')

In [ ]:
pd.date_range(start='2019/01/01',end='2022/02/28',freq='2W') #주기 : 2주일로 설정

DatetimeIndex(['2019-01-06', '2019-01-20', '2019-02-03', '2019-02-17',
               '2019-03-03', '2019-03-17', '2019-03-31', '2019-04-14',
               '2019-04-28', '2019-05-12', '2019-05-26', '2019-06-09',
               '2019-06-23', '2019-07-07', '2019-07-21', '2019-08-04',
               '2019-08-18', '2019-09-01', '2019-09-15', '2019-09-29',
               '2019-10-13', '2019-10-27', '2019-11-10', '2019-11-24',
               '2019-12-08', '2019-12-22', '2020-01-05', '2020-01-19',
               '2020-02-02', '2020-02-16', '2020-03-01', '2020-03-15',
               '2020-03-29', '2020-04-12', '2020-04-26', '2020-05-10',
               '2020-05-24', '2020-06-07', '2020-06-21', '2020-07-05',
               '2020-07-19', '2020-08-02', '2020-08-16', '2020-08-30',
               '2020-09-13', '2020-09-27', '2020-10-11', '2020-10-25',
               '2020-11-08', '2020-11-22', '2020-12-06', '2020-12-20',
               '2021-01-03', '2021-01-17', '2021-01-31', '2021-02-14',
               '2021-02-28', '2021-03-14', '2021-03-28', '2021-04-11',
               '2021-04-25', '2021-05-09', '2021-05-23', '2021-06-06',
               '2021-06-20', '2021-07-04', '2021-07-18', '2021-08-01',
               '2021-08-15', '2021-08-29', '2021-09-12', '2021-09-26',
               '2021-10-10', '2021-10-24', '2021-11-07', '2021-11-21',
               '2021-12-05', '2021-12-19', '2022-01-02', '2022-01-16',
               '2022-01-30', '2022-02-13', '2022-02-27'],
              dtype='datetime64[ns]', freq='2W-SUN')

#DataFrame을 활용한 데이터 생성
df = pd.DataFrame(data)  
data는 matrix 형태

In [ ]:
df = pd.DataFrame([["홍길동",90,80,70],["강감찬",80,78,90]])
print(df)

     0   1   2   3
0  홍길동  90  80  70
1  강감찬  80  78  90

In [ ]:
print(df.index) #행의 값. 0~1 까지 1씩 증가

RangeIndex(start=0, stop=2, step=1)

In [ ]:
print(df.columns) #열의 값 0~3까지 1씩 증가

RangeIndex(start=0, stop=4, step=1)

In [ ]:
print(df.values)

[['홍길동' 90 80 70]
 ['강감찬' 80 78 90]]

In [ ]:
nums = [1,2]
cnames = ["이름","국어","수학","영어"]
df = pd.DataFrame([["홍길동",90,80,70],["강감찬",80,78,90]], index=nums, columns=cnames) #행과 열의 이름 설정 가능
print(df)

    이름  국어  수학  영어
1  홍길동  90  80  70
2  강감찬  80  78  90

In [ ]:
table_data = {"연도":[np.nan,2020,2021],
              "매출":[100,None,120]} #딕셔너리의 키값이 컬럼명으로 사용된다
df = pd.DataFrame(table_data) 
print(df)

       연도     매출
0     NaN  100.0
1  2020.0    NaN
2  2021.0  120.0

In [ ]:
print(df.info()) #open API, csv 파일을 데이터 프레임으로 변환했을 때, 결측치가 어떻게 되어있는지을 알아야 함
#non-null 이 2개씩 이루어져 있음을 확인 가능
#nan,None 모두 결측치로 인식

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      2 non-null      float64
 1   매출      2 non-null      float64
dtypes: float64(2)
memory usage: 176.0 bytes
None

In [ ]:
df.describe() #평균, 표준편차, 최솟값, percentile(백분위수), 최댓값 을 알 수 있음

                연도          매출
count     2.000000    2.000000
mean   2020.500000  110.000000
std       0.707107   14.142136
min    2020.000000  100.000000
25%    2020.250000  105.000000
50%    2020.500000  110.000000
75%    2020.750000  115.000000
max    2021.000000  120.000000

#Series 데이터 연산

In [ ]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([7,8,9,10,11])
s3 = s1+s2 #pandas 에서는 같은 행과 열 값을 직접 더한다 (행렬식으로 인식하여 연산)
print(s1)
print(s2)
print(s3)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     7
1     8
2     9
3    10
4    11
dtype: int64
0     8
1    10
2    12
3    14
4    16
dtype: int64

In [ ]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([7,8,9,10]) #행의 개수 맞지 않는 경우
s3 = s1+s2 #마지막 값은 5 + NaN = NaN (5 아님) - 연산할 수 있는 부분만 하고, 연산할 수 없는 부분은 NaN으로 표시한다
print(s1)
print(s2)
print(s3)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     7
1     8
2     9
3    10
dtype: int64
0     8.0
1    10.0
2    12.0
3    14.0
4     NaN
dtype: float64

In [ ]:
#연산 More

s1 = pd.Series([1,2,3,4],index=['a','b','c','d'])
s2 = pd.Series([2,3,7,8],index=['a','c','d','e'])
s3 = s1+s2 #각 해당하는 행에 값이 있을 때만 연산하여 나타낸다
print(s3)

a     3.0
b     NaN
c     6.0
d    11.0
e     NaN
dtype: float64

#DataFrame 데이터 연산

In [ ]:
data1 = {"홍길동":[90,85,70],
        "강감찬":[99,89,92],
        "이순신":[100,100,100]}
df1 = pd.DataFrame(data1)

In [ ]:
data2 = {"홍길동":[100,75,88],
        "강감찬":[100,76,90],
        "을지문덕":[98,97,100]}
df2 = pd.DataFrame(data2)

In [ ]:
print(df1)
print(df2)

   홍길동  강감찬  이순신
0   90   99  100
1   85   89  100
2   70   92  100
   홍길동  강감찬  이순신
0  100  100   98
1   75   76   97
2   88   90  100

In [ ]:
df3 = df1+df2
print(df3) #같은 index,column 은 쉘이라고 할 수 있다. 이 쉘끼리 연산 가능
#만약 양쪽에 다른 열이 존재한다면, 연산 불가!

   강감찬  을지문덕  이순신  홍길동
0  199   NaN  NaN  190
1  165   NaN  NaN  160
2  182   NaN  NaN  158

In [ ]:
df3.describe()

         강감찬  을지문덕  이순신         홍길동
count    3.0   0.0  0.0    3.000000
mean   182.0   NaN  NaN  169.333333
std     17.0   NaN  NaN   17.925773
min    165.0   NaN  NaN  158.000000
25%    173.5   NaN  NaN  159.000000
50%    182.0   NaN  NaN  160.000000
75%    190.5   NaN  NaN  175.000000
max    199.0   NaN  NaN  190.000000

In [ ]:
df3.mean()

강감찬     182.000000
을지문덕           NaN
이순신            NaN
홍길동     169.333333
dtype: float64

In [ ]:
df3.std()

강감찬     17.000000
을지문덕          NaN
이순신           NaN
홍길동     17.925773
dtype: float64

In [ ]:
df3.var()

강감찬     289.000000
을지문덕           NaN
이순신            NaN
홍길동     321.333333
dtype: float64

In [ ]:
print(df3.mean())
print(df3.mean(axis=1)) # axis=0(default) : index / axis=1 : column 즉, 컬럼별(과목별) 평균을 구한 것

강감찬     182.000000
을지문덕           NaN
이순신            NaN
홍길동     169.333333
dtype: float64
0    194.5
1    162.5
2    170.0
dtype: float64

#데이터를 원하는 대로 선택하기  
df.head([n]) : 앞쪽 데이터를 확인(default n=5)    
df.tail([n]) : 뒤쪽 데이터를 확인(default n=5)

In [ ]:
df3.head() #처음 5개의 값만 출력(default) - 데이터가 많을 때 사용
df3.head(2) #원하는 개수 지정 가능

   강감찬  을지문덕  이순신  홍길동
0  199   NaN  NaN  190
1  165   NaN  NaN  160

In [ ]:
#iris.csv 파일 : 붓꽃의 꽃잎 길이 등등의 정보를 분석하면, 붓꽃의 품종을 알아낼 수 있다.
#직접 데이터 입력 힘드니 해당 자료 활용

df = pd.read_csv('/content/drive/MyDrive/Python Files/iris.csv')
print(df)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [ ]:
df.head(3)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

In [ ]:
df.tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [ ]:
df[50:55] #범위 지정 가능 - row가 선택된다 (레코드 개념을 가지고 있음, 하나의 로우 하나의 데이터)

    sepal.length  sepal.width  petal.length  petal.width     variety
50           7.0          3.2           4.7          1.4  Versicolor
51           6.4          3.2           4.5          1.5  Versicolor
52           6.9          3.1           4.9          1.5  Versicolor
53           5.5          2.3           4.0          1.3  Versicolor
54           6.5          2.8           4.6          1.5  Versicolor

In [ ]:
df.loc[50] #50행 데이터 반환, [50:55] 범위지정 가능
#loc이 지원되지 않는 버전도 존재하므로 두가지 방법 모두 알아두기

sepal.length           7.0
sepal.width            3.2
petal.length           4.7
petal.width            1.4
variety         Versicolor
Name: 50, dtype: object

In [ ]:
print(df['petal.length'][0]) #컬럼명 먼저 작성!
#print(df[0]['petal.length'])

1.4

In [ ]:
print(df.loc[0]['petal.length']) #loc 는 로우명 먼저 작성 가능하도록 새로이 추가되었다

1.4

In [ ]:
df.T #데이터의 전치

                 0       1       2    ...        147        148        149
sepal.length     5.1     4.9     4.7  ...        6.5        6.2        5.9
sepal.width      3.5     3.0     3.2  ...        3.0        3.4        3.0
petal.length     1.4     1.4     1.3  ...        5.2        5.4        5.1
petal.width      0.2     0.2     0.2  ...        2.0        2.3        1.8
variety       Setosa  Setosa  Setosa  ...  Virginica  Virginica  Virginica

[5 rows x 150 columns]