<a href="https://colab.research.google.com/github/yseoyoung/python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%8B%9C%EC%9E%91%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
23+4

27

In [ ]:
korea = 90
math = 80
sum = korea+math
sum

170

In [ ]:
#주석
a = 3 #변수 a에 3 대입

In [ ]:
print(12)
print("음냐뤼")
print(12,3,"야호")

12
음냐뤼
12 3 야호

In [ ]:
print("진달래꽃")
print()
print("나보기가역겨워")

진달래꽃

나보기가역겨워