<a href="https://colab.research.google.com/github/yseoyoung/python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(12,12.3,"hello")

12 12.3 hello

#format 사용

In [ ]:
print("{0} abc {1} bbc {0} aaa {2} bbb {0}".format('홍길동','강감찬','을지문덕'))

홍길동 abc 강감찬 bbc 홍길동 aaa 을지문덕 bbb 홍길동

In [ ]:
print("{0:3d}".format(12)) # 3: 출력하는 칸수 (3칸을 차지해라) d: 10진수로 출력하라 
print("{0:10d}".format(12))

 12
        12

In [ ]:
print("{0:010d}".format(12))

0000000012

In [ ]:
print("{0:+10d}".format(-12))
print("{0:+10d}".format(12))

       -12
       +12

In [ ]:
print("{0:15.2f}".format(3/2)) # 15 : 15칸을 차지 2f : 소수점 2자리까지 float형으로 출력해라

           1.50

In [ ]:
print("{0:3o} {0:3d} {0:3x}".format(12)) # o: 8진수 d: 10진수 x: 16진수

 14  12   c

#f"문자열"

In [ ]:
num = 23
name = "홍길동"
height = 185.3
weight = 89
print(f"번호는 {num} 이름은 {name} 키는 {height} 몸무게 {weight}")

번호는 23 이름은 홍길동 키는 185.3 몸무게 89