<a href="https://colab.research.google.com/github/yseoyoung/python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%9E%90%EB%A3%8C%ED%98%95_%EB%B3%80%EC%88%98%EC%99%80_%EA%B8%B0%EB%B3%B8_%EC%9E%85%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#변수

In [ ]:
korea = 90
math = 85
sum = korea + math
print("국어:",korea,"수학:",math,"합계:",sum) #변수 선언X 명명하는 순간 선언 및 할당이 자동으로 됨 (접근의 편리성)

국어: 90 수학: 85 합계: 175

#기본 입력 input

In [ ]:
korea=input("국어 점수:")
math=input("수학 점수:")
print("국어:",korea,"수학",math,"합계:",korea+math) #문자열의 합

국어 점수:100
수학 점수:100
국어: 100 수학 100 합계: 100100

In [ ]:
print(type(korea),type(math))

<class 'str'> <class 'str'>

In [ ]:
korea = int(korea) #casting 형변환
math = int(math)
print("국어:",korea,"수학",math,"합계:",korea+math)

국어: 100 수학 100 합계: 200

In [ ]:
korea = int(input("국어 점수:"))
math = int(input("수학 점수:"))
print("국어:",korea,"수학",math,"합계:",korea+math)

국어 점수:42
수학 점수:24
국어: 42 수학 24 합계: 66

In [ ]:
fstr1 = "12.34"
fstr2 = "3.14"
f1 = float(fstr1)
f2 = float(fstr2)
print("fi:1",f1,"f2:",f2,"f1*f2=",f1*f2)

fi:1 12.34 f2: 3.14 f1*f2= 38.7476

In [ ]:
k_str = str(korea)
print("k_str:",k_str,"type:",type(k_str))

k_str: 42 type: <class 'str'>