<a href="https://colab.research.google.com/github/yseoyoung/python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#예외처리

구문오류: 코드의 문법적 잘못에 의해 발생하는 오류

런타임오류: 실행 시점에서 발생하는 오류

In [1]:
#구문오류
print("Hello)

SyntaxError: ignored

In [2]:
num1 = int(input("정수:"))
num2 = int(input("정수:"))
print(num1/num2)

정수:3
정수:2
1.5

예외를 확인하여 원하는 형태로 처리하기

In [3]:
num1 = int(input("정수:"))
num2 = int(input("정수:"))
try:
    print(num1/num2)
except:
    print("pass")
else:
    print("수고하셨습니다")
finally:
    print("end")

정수:5
정수:1
5.0
수고하셨습니다
end

In [4]:
2num1 = int(input("정수:"))
num2 = int(input("정수:"))
try:
    print(num1/num2)
except Exception as ex:
    print(ex)
    print(type(ex))
else:
    print("수고하셨습니다")

정수:4
정수:2
2.0
수고하셨습니다

예외 개체 사용

In [5]:
try:
    num1 = int(input("정수:"))
    num2 = int(input("정수:"))
    print(num1/num2)
    ls = [1, 2, 3]
    n = int(input("1~3 중에서 고르세요."))
    print(ls[n-1])

except ValueError as ex:
    print("입력한 값은 문제가 있네요.", ex)
except ZeroDivisionError:
    print("젯수가 0이네요.")
except Exception:
    print("어딘가 문제가 있네요.")
else:
    print("수고하셨습니다")

정수:0
정수:0
젯수가 0이네요.

# 예외를 발생시키기

In [6]:
def getsum(start, end, step=1):
    if start > end:
        raise ValueError  #예외 발생시킴
    s = 0
    for i in range(start, end+1, step):
        s += i
    return s

In [7]:
try:
    print(getsum(2, 10))
    print(getsum(10, 2))
except:
    print("예외 발생")

54
예외 발생

#파일 처리

In [ ]:
#기존 파일 내용 읽어오기

fp = '/content/drive/MyDrive/Python Files/demo.txt'
fs = open(fp,'r')
data = fs.read()
fs.close()
print(data)

In [ ]:
#파일 생성하기

fp = '/content/drive/MyDrive/Python Files/demo2.txt'
fs = open(fp,'w')
fs.write("Plz")
fs.close()

#맛보기
Mushroom Classification DataSet  
csv file 다운 가능  
->파일 입출력  
.  
데이터 분석을 위한 numpy pandas 사용

In [9]:
import pandas as pd
mr= pd.read_csv('/content/drive/MyDrive/mushrooms.csv')
mr

     class cap-shape cap-surface  ... spore-print-color population habitat
0        p         x           s  ...                 k          s       u
1        e         x           s  ...                 n          n       g
2        e         b           s  ...                 n          n       m
3        p         x           y  ...                 k          s       u
4        e         x           s  ...                 n          a       g
...    ...       ...         ...  ...               ...        ...     ...
8119     e         k           s  ...                 b          c       l
8120     e         x           s  ...                 b          v       l
8121     e         f           s  ...                 b          c       l
8122     p         k           y  ...                 w          v       l
8123     e         x           s  ...                 o          c       l

[8124 rows x 23 columns]

In [10]:
mcs = mr['class'] #원하는 열의 정보만 출력 가능
mcs

0       p
1       e
2       e
3       p
4       e
       ..
8119    e
8120    e
8121    e
8122    p
8123    e
Name: class, Length: 8124, dtype: object

In [11]:
folder = '/content/drive/MyDrive/' #폴더 경로 저장

In [12]:
members = [
           ["홍길동",90,85,88],
           ["을지문덕",80,88,90],
           ["강감찬",90,95,100]
           ]

In [13]:
fname = folder+"mscores.csv"
fname

'/content/drive/MyDrive/mscores.csv'

In [19]:
fs = open(fname,'w') #-> close()를 꼭 해줘야 함
for member in members:
  fs.write(f"{member[0]},{member[1]},{member[2]},{member[3]}\n")
fs.close()
#with as 를 사용하면 자동으로 닫아줌

# with open(fname,'w') as fs:
#   print("umm")

#csv파일 생성, 내용 입력 방법1

In [20]:
#csv파일 생성, 내용 입력 방법2

import csv #csv모듈을 이용해서 작성할 수 있음
fname2 = folder+"mscores2.csv"
with open(fname2, 'w', newline='') as csvfile:
    sw = csv.writer(csvfile, delimiter=',')
    for member in members:
      sw.writerow(member)

In [21]:
#비교
fs.write(f"{member[0]},{member[1]},{member[2]},{member[3]}\n")
sw.writerow(member)
#복잡해 보이지만,
#데이터에 기록한 코드 자체는 두번째 방법이 훨씬 간단함을 알 수 있다

ValueError: ignored

In [22]:
#읽어오기

fs = open(fname,'r')
data = fs.read()
fs.close()
print(data)

홍길동,90,85,88
을지문덕,80,88,90
강감찬,90,95,100

In [23]:
#한 줄씩 읽기

fs = open(fname,'r')
while True:
  record = fs.readline()
  if not record: #if record=="" 사용 가능
    break
  record = record.replace("\n","") #개행문자 지우기
  sdata = record.split(',') #,를 기준으로 분리
  rs=[]
  rs.append(sdata[0]) #이름 추가
  for i in range(1,4): #점수 리스트 추가
    rs.append(int(sdata[i]))
  #print(rs)
  members.append(rs)
fs.close()
print(members)

[['홍길동', 90, 85, 88], ['을지문덕', 80, 88, 90], ['강감찬', 90, 95, 100], ['홍길동', 90, 85, 88], ['을지문덕', 80, 88, 90], ['강감찬', 90, 95, 100]]

In [24]:
import csv
fs = open(fname,'r', newline='')
reader = csv.reader(fs) #reader를 사용해서 읽어오는 방법
for row in reader:
  rs=[]
  rs.append(row[0])
  for i in range(1,4):
    rs.append(int(row[i]))
  members.append(rs)
fs.close()
print(members)

[['홍길동', 90, 85, 88], ['을지문덕', 80, 88, 90], ['강감찬', 90, 95, 100], ['홍길동', 90, 85, 88], ['을지문덕', 80, 88, 90], ['강감찬', 90, 95, 100], ['홍길동', 90, 85, 88], ['을지문덕', 80, 88, 90], ['강감찬', 90, 95, 100]]

In [25]:
import pandas as pd
members = pd.read_csv(fname,header=None)
#members
#members.info()
members.describe()

               1          2           3
count   3.000000   3.000000    3.000000
mean   86.666667  89.333333   92.666667
std     5.773503   5.131601    6.429101
min    80.000000  85.000000   88.000000
25%    85.000000  86.500000   89.000000
50%    90.000000  88.000000   90.000000
75%    90.000000  91.500000   95.000000
max    90.000000  95.000000  100.000000

#함수 고급

#튜플

여러 개의 요소로 구성한 컬렉션  
요소의 값을 변경할 수 없다.

In [26]:
t1 = (1,2,3)
print(type(t1))

<class 'tuple'>

In [27]:
print(t1[0]) #인덱스 접근 가능

1

In [28]:
a,b = (2,3)
print(a,b)

2 3

In [29]:
t = 1,2,3,4 #굳이 소괄호를 추가하지 않아도 튜플로 인식한다
print(type(t))

<class 'tuple'>

In [30]:
a,b,c = 1,2,3 #1,2,3은 튜플이 맞지만 원소 하나를 출력하면 int값
print(type(a))

<class 'int'>

In [31]:
#t1[0] = 7
#'tuple' object does not support item assignment

In [32]:
def get_sum_average(numbers):
  s=0
  for number in numbers:
    s += number
  return s, s/len(numbers)

In [33]:
s,aver = get_sum_average([1,2,3,54,5,6])
print(f"합계:{s} 평균:{aver:.2f}") #여러개 값을 반환하여 출력할 수 있다

합계:71 평균:11.83

In [34]:
re = get_sum_average([1,2,3,54,5,6])
print(re)

(71, 11.833333333333334)

#람다

In [35]:
def square(x):
  return x*x

In [36]:
sq = lambda x:x*x #람다식을 변수에 전달 가능

In [37]:
def foo(x):
  print(f"foo({x})")
  return 2*x

In [38]:
#map(함수, 리스트)
#: 리스트의 요소를 함수에 넣고 리턴된 값으로 새로운 리스트를 구성해주는 함수

re = map(foo,[1,2,3,4]) #각 원소 순서대로 -> 함수 실행 -> 리턴한 값이 반환된다
for e in re:
  print(e)

foo(1)
2
foo(2)
4
foo(3)
6
foo(4)
8

In [39]:
re = map(sq,[1,2,3,4]) #함수명, 호출 가능한 코드면 모두 가능 -> 람다식도 가능
for e in re:
  print(e)

1
4
9
16

In [40]:
re = map(lambda x:x+2,[1,2,3,4])
for e in re:
  print(e)

3
4
5
6

In [41]:
#filter(함수, 리스트)
#: 리스트의 요소를 함수에 넣고 리턴된 값이 True인 것으로 새로운 리스트를 구성해주는 함수

def is_odd(x):
  return x%2==1

In [42]:
re = filter(is_odd,[1,2,3,4,5,6,7,8,10,23,4,23,11])
for e in re:
  print(e) #참인 값=홀수 만 리스트에 남는다

1
3
5
7
23
23
11

In [43]:
re = filter(lambda x:x%2==1,[1,2,3,4,5,6,7,8,10,23,4,23,11]) #람다식도 가능
for e in re:
  print(e)

1
3
5
7
23
23
11

#함수 실습

##회원 관리 프로그램을 작성하시오.

프로그램은 메뉴 선택에 의해 동작하는 콘솔 응용입니다.

1: 회원 데이터 추가

2: 회원 데이터 삭제

3: 회원 데이터 검색

4: 전체 회원 데이터 정보 출력

0: 프로그램 종료

회원 관리 프로그램을 작성하시오.

프로그램은 메뉴 선택에 의해 동작하는 콘솔 응용입니다.

###1: 회원 데이터 추가  
   회원 아이디를 입력받는다.  
   이미 존재하면 기능 종료  
   이름, 이메일, 나이, 키를 입력받는다.  

###2: 회원 데이터 삭제  
   회원 아이디를 입력받는다.  
   아이디가 존재하지 않으면 없다고 출력하고 기능 종료  
   존재하면 삭제하고 삭제하였다고 출력  

###3: 회원 데이터 검색  
   회원 아이디를 입력받는다.  
   아이디가 존재하지 않으면 없다고 출력하고 기능 종료  
   존재하면 회원 정보 출력  

###4: 전체 회원 데이터 정보 출력  
   아이디 순으로 전체 회원 정보 출력  

###0: 프로그램 종료  

프로그램 종료 시 회원 정보를 members.csv파일로 기록  
프로그램 시작 시 members.csv 파일에 정보를 로딩

In [44]:
members={}
def load(fname):
  try:
    fs = open(fname,'r')
  except:
    print("처음 사용하시는군요. Welcome~")
    return
  all = fs.read()
  fs.close()
  k_datas = all.split('\n')
  for i in range(1,len(k_datas)):
    k_data = k_datas[i]
    kds = k_data.split(',')

    if(len(kds)!=5):
      break
    data=[]
    for i in range(1,5):
      data.append(kds[i])
    members[kds[0]] = data

In [45]:
members={}
def load(fname):
  try:
    fs = open(fname,'r')
  except:
    print("처음 사용하시는군요. Welcome~")
    return
  all = fs.read()
  fs.close()
  k_datas = all.split('\n')
  for i in range(1,len(k_datas)):
    k_data = k_datas[i]
    kds = k_data.split(',')

    if(len(kds)!=5):
      break
    data=[]
    for i in range(1,5):
      data.append(kds[i])
    members[kds[0]] = data

In [46]:
def add_member():
  id = input("추가할 회원 아이디: ") #회원 아이디 입력
  if id in members: #이미 존재 시, 기능 종료
    print("이미 존재하는 아이디입니다.")
    return #기능 종료
  data = [] #이름, 이메일, 나이, 키를 입력받기
  data.append(input("이름: "))
  data.append(input("이메일: "))
  try:
    data.append(int(input("나이: ")))
  except:
    print("잘못 입력하여 나이를 0으로 설정합니다.")
    data.append(0)
  try:
    data.append(float(input("키: ")))
  except:
    print("잘못 입력하여 나이를 0으로 설정합니다.")
    data.append(0)
  members[id] = data

In [47]:
def remove_member():
  id = input("삭제할 회원 아이디: ") #회원 아이디 입력
  if id not in members: #존재하지 않으면, 기능 종료
    print("존재하지 않는 아이디입니다.")
    return #기능 종료
  del members[id]
  print("삭제 완료!")

In [48]:
def find_member():
  id = input("검색할 회원 아이디: ") #회원 아이디 입력
  if id not in members: #존재하지 않으면, 기능 종료
    print("존재하지 않는 아이디입니다.")
    return #기능 종료
  print(members[id])

In [49]:
def view_members():
  print(members)

In [50]:
def select_menu():
  print("--회원 관리 프로그램--")
  print("1번. 회원 데이터 추가")
  print("2번. 회원 데이터 삭제")
  print("3번. 회원 데이터 검색")
  print("4번. 전체 회원 데이터 보기")
  print("0번. 프로그램 종료")
  try: #예외처리
    key = int(input("선택: "))
  except:
    key = 5
  return key

In [52]:
fname='/content/drive/MyDrive/members.csv'
load(fname)

while True:
  key = select_menu()
  if key == 0:
    print("프로그램을 종료합니다.")
    break
  if key == 1:
    add_member()
  elif key == 2:
    remove_member()
  elif key == 3:
    find_member()
  elif key == 4:
    view_members()
  else:
    print("잘못 선택하였습니다.")
save(fname)

--회원 관리 프로그램--
1번. 회원 데이터 추가
2번. 회원 데이터 삭제
3번. 회원 데이터 검색
4번. 전체 회원 데이터 보기
0번. 프로그램 종료
선택: 0
프로그램을 종료합니다.

NameError: ignored